In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop('EIN', axis=1)

In [3]:
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced

names_to_replace = list(name_counts[name_counts<10].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [7]:
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced

applications_to_replace = list(application_counts[application_counts<500].index)

# Replace in dataframe
for app in applications_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_values = classification_counts[classification_counts>1]
classification_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
classification_types_to_replace = list(classification_counts[classification_counts<200].index)

# Replace in dataframe
for cls in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(app,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_apps = pd.get_dummies(application_df, dtype=float)
dummy_apps

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = dummy_apps["IS_SUCCESSFUL"].values
X = dummy_apps.drop("IS_SUCCESSFUL", axis=1).values



# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = X_train_scaled.shape[1]
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 16
hidden_nodes_layer3 = 24


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 8)                 2656

 dense_9 (Dense)             (None, 16)                144

 dense_10 (Dense)            (None, 24)                408

 dense_11 (Dense)            (None, 1)                 25

=================================================================
Total params: 3,233
Trainable params: 3,233
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5221 - accuracy: 0.7394
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4509 - accuracy: 0.7823
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4447 - accuracy: 0.7856
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4409 - accuracy: 0.7856
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4401 - accuracy: 0.7865
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4385 - accuracy: 0.7868
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4373 - accuracy: 0.7870
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4363 - accuracy: 0.7883
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.7877
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4348 - accuracy: 0.7891
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4344 - accuracy: 0.7887
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4336 - accuracy: 0.7879
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4331 - accuracy: 0.7890
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4327 - accuracy: 0.7892
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4320 - accuracy: 0.7907
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4316 - accuracy: 0.7914
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4313 - accuracy: 0.7904
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4314 - accuracy: 0.7895
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4312 - accuracy: 0.7907
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4303 - accuracy: 0.7914
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4300 - accuracy: 0.7909
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4299 - accuracy: 0.7920
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4300 - accuracy: 0.7914
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4293 - accuracy: 0.7909
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4289 - accuracy: 0.7910
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4290 - accuracy: 0.7918
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4288 - accuracy: 0.7922
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4283 - accuracy: 0.7906
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4284 - accuracy: 0.7915
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4281 - accuracy: 0.7921
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7926
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4276 - accuracy: 0.7916
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4275 - accuracy: 0.7932
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4270 - accuracy: 0.7918
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.7929
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4274 - accuracy: 0.7919
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4268 - accuracy: 0.7918
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.7918
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.7927
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.7921
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4257 - accuracy: 0.7918
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4261 - accuracy: 0.7924
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.7928
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4253 - accuracy: 0.7919
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4252 - accuracy: 0.7926
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.7926
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4259 - accuracy: 0.7927
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4253 - accuracy: 0.7930
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4251 - accuracy: 0.7913
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.7920
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4249 - accuracy: 0.7929
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.7928
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4244 - accuracy: 0.7936
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4244 - accuracy: 0.7935
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4241 - accuracy: 0.7934
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.7926
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4246 - accuracy: 0.7933
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4237 - accuracy: 0.7933
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4239 - accuracy: 0.7939
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4235 - accuracy: 0.7944
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4239 - accuracy: 0.7936
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4236 - accuracy: 0.7938
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4238 - accuracy: 0.7935
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4234 - accuracy: 0.7935
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.7935
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4231 - accuracy: 0.7932
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7926
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.7946
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.7937
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7937
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4225 - accuracy: 0.7956
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4227 - accuracy: 0.7944
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4225 - accuracy: 0.7947
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4221 - accuracy: 0.7943
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7950
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7942
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4220 - accuracy: 0.7942
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4218 - accuracy: 0.7952
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7945
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.7944
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7949
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7942
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.7942
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4210 - accuracy: 0.7952
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.7945
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4210 - accuracy: 0.7950
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4209 - accuracy: 0.7957
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.7940
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.7948
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7944
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4212 - accuracy: 0.7946
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4210 - accuracy: 0.7961
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4210 - accuracy: 0.7951
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4206 - accuracy: 0.7953
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.7948
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.7952
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4206 - accuracy: 0.7938
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.7934
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4203 - accuracy: 0.7955
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4202 - accuracy: 0.7946

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4581 - accuracy: 0.7778 - 647ms/epoch - 2ms/step
Loss: 0.4581426680088043, Accuracy: 0.7778425812721252

In [26]:
# Export our model to HDF5 file
nn.save('./AlphabetSoupCharity_OptimizationFinal.h5')